/* 전체 리뷰 목록을 감싸는 컨테이너 스타일 설정 */
.review-list-container {
    max-width: 730px;
    min-height: 50vh;
    margin: 30px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 검색창 안내문 글자 스타일 */
.search-review-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    padding-right: 10px;
    margin-top: -20px;
}

/* 제목 스타일 */
.review-list-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* 리뷰가 없을 때 메시지 중앙 정렬 */
.no-review {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 필터 선택 영역 스타일 */
.review-view-select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}

/* 필터 선택 영역 유형 글자 스타일 */
.review-view-select label {
    font-size: 15px;
    margin-right: 10px;
}

/* 필터 선택 영역 안 셀렉트 스타일 */
.review-view-select select {
    font-size: 14px;
    padding: 5px;
    border: 2px solid #D6D6D6;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 123px !important;
    min-width: 123px;
    max-width: 123px;
    outline: none;
    cursor: pointer;
}

/* 필터 선택 영역 안 셀렉트 스타일 */
.review-view-select select option {
    cursor: pointer;
}

/* 리뷰 카드 컨테이너 */
.review-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-grow: 1;
}

/* 개별 리뷰 카드 스타일 */
.review-card {
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* 개별 리뷰 카드 스타일 효과 */
.review-card:hover {
    transform: translateY(-5px);
}

/* 리뷰 카드 내부 버튼 스타일 */
.review-card-btn {
    width: 100%;
    text-align: left;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* 리뷰 카드 내용 스타일 */
.review-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 첫 줄: 작성자 & 날짜 */
.review-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    /* 간격 조정 */
}

/* 둘째 줄: 제목 & 평점 */
.review-card-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

/* 텍스트 스타일 */
.review-card-text {
    font-weight: bold;
    color: #555;
    font-size: 15px;
    margin: 0;
}

/* 리뷰 내용 스타일 (두 줄 제한) */
.review-card-context {
    font-weight: bold;
    color: #333;
    font-size: 15px;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
}

/* 리뷰 추가 버튼 컨테이너 */
.review-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 리뷰 추가 버튼 스타일 */
.add-review-button {
    width: 160px;
    height: 45px;
    background-color: #DAEFF1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    transition: background 0.3s ease-in-out;
}

/* 리뷰 추가 버튼 스타일 효과*/
.add-review-button:hover {
    background-color: #BBDBE5;
}