/* 관광지 리스트 제목 */
.tourism-list h1 {
    font-size: 25px;
    margin-left: 40px;
}

/* 관광지 컨포넌트 */
.tourism-container {
    margin: 30px;
    min-height: 60vh;
}

/* 관광지 카드 목록 정렬 */
.tourism-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

/* 관광지 카드 스타일 컨포넌트 */
.tourism-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #DAEFF1;
    width: calc(33.333% - 20px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

/* 카드 내용 */
.card-content {
    padding: 20px;
    background: #FFFFFF;
}

/* 카드 내용 안 이미지 스타일 */
.tourism-firstimage {
    width: 70%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-bottom: 2px solid #DAEFF1;
    border-radius: 20px;
}

/* 정보 버튼 스타일 */
.info-button {
    background: #DAEFF1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* 정보 버튼 스타일 효과 */
.info-button:hover {
    background-color: #C0E7E9;
}

/* 검색창 스타일  */
.event-status {
    color: #45A7C5;
    font-weight: bold;
    padding: 6px 12px;
    background-color: #FDFCEC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #45A7C5;
    border-radius: 4px;
    display: block;
    text-align: left;
    align-self: flex-start;
}

/* 리뷰가 없을 때 메시지 중앙 정렬 */
.no-data {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}