/* 관광지 상세 페이지 컨테이너 */
.tourism-detail {
    max-width: 850px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #DAEFF1;
    border-radius: 20px;
    background: #FFFFFF;
    text-align: center;
}

/* 관광지 이미지 스타일 */
.detail-image {
    width: 60%;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    border-bottom: 2px solid #DAEFF1;
    margin-bottom: 20px;

} 

/* 제목 스타일 */
.tourism-detail h2 {
    margin-bottom: 15px;
}

/* 설명 텍스트 스타일 */
.tourism-detail p {
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

/* 버튼 공통 스타일 */
.backTour-button,
.likeTour-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}
/* 리뷰 버튼 스타일 */
.writeReview-button{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #DAEFF1;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin: 10px;
}

/* 뒤로가기 버튼 스타일 */
.backTour-button {
    background: #DAEFF1;
    transition: background-color 0.3s ease;
}
/* 뒤로가기,리뷰쓰기 버튼 스타일 효과 */
.backTour-button:hover,.writeReview-button:hover {
    background-color: #C0E7E9;
}
/* 검색창 스타일*/
.event-status {
    color: #45A7C5 !important;
    font-weight: bold;
    padding: 6px 12px;
    background-color: #FDFCEC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #45A7C5;
    border-radius: 4px;
    display: inline-block;
    max-width: fit-content;
    text-align: left;
    margin: 10px auto 10px 0;
}